$header-height: 54px;

$font-main: "Montserrat", sans-serif;
$font-secondary: "Open Sans", sans-serif;
$font-nav:  "Source Sans 3", sans-serif;

$size-title: 44px;
$size-subtitle: 22px;
$size-description: 18px;

$color-dark-blue: #2C4058;
$color-black: #000000;
$color-white: #FFFFFF;
$color-purple: #7E5AFF;
$color-blue: #55B7FF;

$color-white-transparent-04: rgba(255, 255, 255, 0.4);
$color-dark-blue-transparent-02: rgba(44, 64, 88, 0.2);
$color-dark-blue-transparent-05: rgba(44, 64, 88, 0.5);